version: '3.9'
services:
  app:
    image: ghcr.io/Modest-Human-Brands/modest-human-brands:latest
    env_file:
      - .env
    volumes:
      - modest-human-brands_data:/app/.data
    expose:
      - 3000
    networks:
      - internal
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
        max_attempts: 3

volumes:
  modest-human-brands_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /root/modest-human-brands/.data

networks:
  internal:
    driver: overlay
