name: 'modest-human-brands-dev'
services:
  app:
    build: .
    restart: on-failure:3
    env_file:
      - .env.prod
    ports:
      - 4300:3000

  stream:
    build: ../code-stream
    restart: on-failure:3
    env_file:
      - ../code-stream/.env.prod
    ports:
      - 4400:3000

  stream-redis:
    image: redis:alpine
    restart: unless-stopped
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5

  drive:
    build: ../code-drive
    restart: on-failure:3
    env_file:
      - ../code-drive/.env.prod.redcatpictures
      # - ../code-drive/.env.prod.goldfishtalents
    ports:
      - 4345:3000
    volumes:
      - static:/app/static
      - data:/app/.data

volumes:
  static:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ../code-drive/static/red-cat-pictures
      # device: ../code-drive/static/gold-fish-talents
  data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./.data
  redis_data:
